<!-- <div style="position:absolute"> -->
<div style="display:flex;text-align:center">
  <app-resource-item [amount]="lumber" [bonus]="blocksBonus" icon="assets/wood.png"></app-resource-item>
  <app-resource-item [amount]="blocks" [bonus]="blocksBonus" icon="assets/brick.png"></app-resource-item>
  <app-resource-item [amount]="coins" [bonus]="blocksBonus" icon="assets/coin.png"></app-resource-item>
 <!--  <table>
    <tr>
      <th>Resource</th>
      <th>Amount</th>
      <th>Bonus</th>
    </tr>

    <tr>
      <img src="assets/wood.png" alt="" width="50">
      <td>{{lumber}}</td>
      <td>+{{blocksBonus}}</td>
    </tr>

    <tr>
      <td><img src="assets/brick.png" alt="" width="50"></td>
      <td>{{blocks}}</td>
      <td>+{{blocksBonus}}</td>
    </tr>

    <tr>
      <td><img src="assets/coin.png" alt="" width="50"></td>
      <td>{{coins}}</td>
      <td>+{{blocksBonus}}</td>
    </tr>

    <tr>
      <td><img src="assets/zoombie.png" alt="" width="50"></td>
      <td>{{graves}}</td>
      <td>+{{blocksBonus}}</td>
    </tr>
  </table> -->
</div>