<!-- <app-resource-table></app-resource-table> -->

<div class="container">

    <div class="text-box" style="display:flex;justify-content:space-around">
        <span>year :
            <b class="big-number">{{years| number}}</b>
        </span>
        <span>day :
            <b class="big-number">{{days| number}}</b>
        </span>
    </div>

    <title-screen></title-screen>


    <div class="text-box">
        <div style="display:flex;justify-content:space-around">
            <span>
                level :
                <b class="big-number">{{currentLevel?.index+1}}</b>
            </span>
            <h2 style="margin:0px">➡</h2>
            <span>
                <!-- goal :  -->
                {{currentLevel?.goal.verb}}
                <b class="big-number">{{currentLevel?.goal.amount | number}}</b>
                <img [src]="currentLevel?.goal.img" alt="" height="30" style="float: right;margin: -7px 0 0 5px;">
            </span>
        </div>
    </div>


    <div class="text-box">score :
        <b class="big-number" style="line-height:40px">{{score| number}}</b>
    </div>

    <app-resource-table></app-resource-table>

    <div class="text-box">

        <span style="text-align:left">
            <!-- citzens : -->
            <b class="big-number">{{population | number}}</b> citzens in {{currentCityLevel?.name}}
        </span>

        <div class="progress-bar">

            <!-- <div #myBar class="progress-bar-inside" [style.width]="popProgress+'%'"> -->
            <div #myBar class="progress-bar-inside" [style.width]="percent+'%'">
                <b style="color:white;">{{percent | number : '1.0-0'}}%</b>
                <!-- <b style="color:white;">{{population | number}}/{{currentCityLevel.goal | number}}</b> -->
            </div>
        </div>
    </div>
</div>