.tile {
    width: 64px;
    height: 50px;
    cursor: pointer;
    /* position: absolute; */
    border: 1px solid rgba(0, 0, 0, 0);
}

.card-float {
    /* position:absolute; */
    pointer-events: none;
    z-index: 99;
    margin-top: -5px;
}

.terrain {
    margin-top: -32px;
    pointer-events: none;
    /* position: absolute; */
}

.over {
    height: 54px;
    width: 64px;
    position: absolute;
    z-index: 9;
}

.over:hover {
    background-color: black;
    opacity: .1;
}


.block {
    opacity:0.5;
}