$hex-size: 4em; // Only change size here. Best used with sizes from 5em - 10em.
.hex {
    position: relative;
    margin: 1em auto;
    width: $hex-size; height: ($hex-size * 1.7);
    border-radius: 1em/.5em;
    background: #ccc;
    transform: rotate(-90deg);
    display: inline-block;
    margin-right: ($hex-size / 1.30);
    transition: all 150ms ease-in-out;
  }
  .hex:before, .hex:after {
    position: absolute;
    width: inherit; height: inherit;
    border-radius: inherit;
    background: inherit;
    content: '';
  }
  .hex:before {
    transform: rotate(60deg);
  }
  .hex:after {
    transform: rotate(-60deg);
  }
  .hex:hover {
    background: #F58787;
    cursor: pointer;
  }