<tile-buy-popup *ngIf="showStore && gotCard==true" [items]="storeItems2" (buyItem)="buyItem($event)" [title]="tile.card.family.label+' lvl '+(tile.card.level+1)"></tile-buy-popup>
<tile-buy-popup *ngIf="showStore && gotCard==false" [items]="storeItems" (buyItem)="buyItem($event)" [title]="'city improvments'"></tile-buy-popup>

<div (click)="clickTile()" [style.opacity]="tile.state===-1?0.2:1" [style.pointer-events]="tile.state===-1?'none':'pointer'">

    <div style="position:absolute;padding-left:8px" [style.z-index]="getIndex()">
        <div class="card-float" [@floatOver]="floatState" (@floatOver.done)=onFloatDone($event) *ngIf="gotCard==false && tile.overMe && currentCard" [style.opacity]="isSelectd?0.5:1">
            <app-tile-card [card]="currentCard"></app-tile-card>
        </div>

        <!-- <span #resourceRef *ngIf="collectedIcon" style="position:absolute" [@collectAnimation]="colloectAnimationState" (@collectAnimation.done)="onCollectDone($event)"> -->
        <span #resourceRef style="position:absolute">
            <item-img *ngIf="collectedIcon" [type]="collectedIcon" size="35"></item-img>
        </span>

        <div #cardRef [@moveAnimation]="moveState" (@moveAnimation.done)=onMoveDone($event) [@scaleAnimation]="scaleState" (@scaleAnimation.done)="onScaleDone($event)">
            <app-tile-card *ngIf="gotCard==true" [placed]="true" [card]="tile.card" [onTerrain]="tile.terrain.type" (collected)="onCardCollected()"></app-tile-card>
        </div>


        <div *ngIf="showThinkBubble" style="position:absolute;margin-top:-30px;margin-left:30px">
            <img src="assets/people/SpeechBubble.png" alt="" height="64">
            <img style="position:fixed;margin-top:-45px;margin-left:-15px" src="assets/buildings/house.png" alt="" height="35">
        </div>
    </div>


    <!-- /TERRAIN -->
    <!-- <div class="tile" *ngIf="tile" (mouseover)="overMe()" (mouseout)="outMe()"> -->
    <div class="tile" *ngIf="tile" (mouseover)="onMouseOver()" (mouseout)="outMe()" (mousedown)="onMouseOver()">
        <div class="over" *ngIf="tile.terrain?.clickable && gotCard==false"></div>

        <div class="terrain" [style.margin-top.px]="tile.terrain.type==4?-45:-32">
            <!-- <img *ngIf="tile.building" [src]="tile.building.url" alt="" width="64"> -->
            <img [src]="tile.terrainTop?tile.terrainTop.url:tile.terrain.url" alt="" width="64">
        </div>
    </div>
</div>