<div *ngIf="tile.terrain" [@terrainAnimation]="terrainAnimation" (click)="clickTile()" [style.opacity]="tile.state===-1?0.2:1" [style.pointer-events]="tile.state===-1?'none':'auto'">

    <div style="position:absolute;padding-left:8px" >

        <div *ngIf="tile.movment" [@moveAnimation]="moveState" (@moveAnimation.done)="onMoveDone($event)">
            <img [src]="tile.movment.img" alt="" height="50">
        </div>


        <div *ngIf="onMe &&  !isCardFloating && (tile.terrain.type==0 || tile.terrain.type==4) && !tile.card" style="opacity:0.3;">
            <app-tile-card [card]="currentCard"></app-tile-card>
        </div>

        <div class="card-float" [@floatOver]="floatState" (@floatOver.done)="onFloatDone($event)" *ngIf="isCardFloating">
            <app-tile-card [card]="currentCard"></app-tile-card>
        </div>

        <span #resourceRef style="position:absolute">
            <item-img *ngIf="collectedIcon" [type]="collectedIcon" size="35"></item-img>
        </span>

        <!-- <div #cardRef [@moveAnimation]="moveState" (@moveAnimation.done)=onMoveDone($event) [@scaleAnimation]="scaleState" (@scaleAnimation.done)="onScaleDone($event)"> -->
        <div #cardRef [@visibilityChanged]="tile.showDelay">
            <app-tile-card *ngIf="gotCard==true" [card]="tile.card" [onTerrain]="tile.terrain.type"></app-tile-card>
        </div>


        <div *ngIf="showThinkBubble" style="position:absolute;margin-top:-30px;margin-left:30px">
            <img src="assets/people/SpeechBubble.png" alt="" height="64">
            <img style="position:fixed;margin-top:-45px;margin-left:-15px" src="assets/buildings/house.png" alt="" height="35">
        </div>
    </div>


    <!-- /TERRAIN -->

    <div  class="tile" *ngIf="tile" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()" (mouseup)="onMouseOut()" (mousedown)="onMouseOver()">
        <div class="over" *ngIf="tile.terrain?.clickable && gotCard==false"></div>

        <div *ngIf="tile.terrain" class="terrain"  >
            <img [src]="tile.terrainTop?tile.terrainTop.url:tile.terrain.url" alt="" width="90" >
        </div>
    </div>
</div>