.container {
    margin:5px 0 0 10px;
    border:3px solid gold;
    border-radius: 30px;
    width:30px;
    height: 30px;
    background-color: orange;
    line-height: 30px;
    color: white;
}

.battery {
    /* position: absolute; */
    position: relative;
    border: 1px solid white;
    width: 80%;
    height: 10px;
    left: 10%;
    top:5px;
    background-color: orangered;
}