.container {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 910;
    pointer-events: none;
}

.mask {
    position: absolute;
    z-index: 900;
    background-color: #3c1d61;
    opacity: 0.3;
    width: 100%;
    height: 100%;
}

.store {
    pointer-events: all;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 550px;
    background-color: #160727;
    /* border: 3px solid green; */
    /* padding: 5px; */
}

.content {
    cursor: pointer;
    /* display: flex; */
    pointer-events: all;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

.header {
    /* width: 100%; */
    background-color: #443258;
    padding: 5px 0 5px 0;
    color: gold;
    font-size: 12px;
}