.container {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1005;
    pointer-events: none;
    top: 10%;
}

/* .mask {
    position: absolute;
    z-index: 900;
    background-color: #3c1d61;
    opacity: 0.3;
    width: 100%;
    height: 100%;
} */

.store {
    border-radius: 10px;
    pointer-events: all;
    margin-left: auto;
    margin-right: auto;
   
    width: 30%;
    min-width: 500px;
    /* max-width: 250px; */
    background-color: #160727;
    /* border: 3px solid green; */
    /* padding: 5px; */
}

.content {
    cursor: pointer;
    /* display: flex; */
    pointer-events: all;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    /* max-height: 180px; */
    overflow: auto;
}

.header {
    /* width: 100%; */
    background-color: #443258;
    padding: 5px 0 5px 0;
    color: gold;
    /* font-size: 12px; */
    border-radius: 10px 10px 0 0;
}