<div class="container">
    <div class="store">
        <div class="header" style="display:flex;justify-content:space-between">
            <h2 style="margin-left:5px;margin:2px;line-height:30px;text-align:center;width:100%">{{description?description:title}}</h2>
            <button style="margin-right:5px" (click)="onClose()">x</button>
        </div>

        <div class="content">
            <app-buy-item *ngFor="let item of items;let i = index" [icon]="item.icon" [buyItem]="item" (buy)="buy($event)" (mouseout)="onMouseOut(item)" (mouseover)="onMouseOver(item) "></app-buy-item>
        </div>
    </div>
</div>

<!-- <div class="mask" (click)="onClose()"></div> -->
        


<div class="blocker" (click)="onClose()"></div>