<div class="container">

    <div style="text-align:center;display:flex" [style.opacity]="enabled?1:0.2">
        <!-- {{title}} -->
        <div>
            <img [src]="icon" alt="" height="40">
            <br>
            <button [disabled]="!enabled" (click)="onBuy()">{{buyLabel}}</button>
        </div>

        <span *ngIf="resourceNeeded" style="margin-left:10px;display:flex;padding:2px">
          <app-resource-item *ngIf="buyItem.cost.block" [amount]="buyItem.cost.block" icon="assets/resources/brick.png"></app-resource-item>
          <app-resource-item *ngIf="buyItem.cost.lumber" [amount]="buyItem.cost.lumber" icon="assets/resources/wood.png"></app-resource-item>
          <app-resource-item *ngIf="buyItem.cost.coin" [amount]="buyItem.cost.coin" icon="assets/resources/coin.png"></app-resource-item>
       </span>


    </div>

</div>


<!-- <button type="button" (click)="onClick()">buy</button> -->