.container {
    position: absolute;
    width: 300px;
    height: 150px;
    background-color: gainsboro;
    text-align: center;
    top: 20%;
    left: 40%;
    z-index: 1000;
    box-shadow: 2px 2px black;
}

.title {
    padding: 5px;
}

.content {
    padding: 10px;
    font-size: 12px;
    background-color: antiquewhite;
    height: 50%;
}