.container {
    display: grid;
    grid-template-columns: 80px 80px 80px 30px;

}

.store-btn {
    background-color: gold;
    /* border: none; */
    /* height: 20px; */
    /* width: 20px; */
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    border-bottom: 3px solid greenyellow;
    /* position: absolute; */
    /* margin-left: 22px; */
    /* margin-top: 28px; */
    height: 80%;
    margin: 2px;
    color: rgb(179, 155, 20);
}

.store-btn:hover {
    color: red;
}

.store-btn:active {
    border-top: 3px solid rgb(212, 183, 17);
    border-bottom: none;
}