.container {
    display: grid;
    grid-template-columns: 90px 90px 90px;

}

.store-btn {
    background-color: gold;
    border: none;
    height: 20px;
    width: 20px;
    cursor: pointer;
    border-radius: 5px;
    border-top: 2px solid greenyellow;
    position: absolute;
    margin-left: 22px;
    margin-top: 28px;
}

.store-btn:hover {
    background-color: rgb(240, 230, 176);
}

.store-btn:active {
    background-color: rgb(202, 175, 19);
    border-top: 2px solid #271e30;
}