<div  *ngIf="card" class="container">

    <tile-frame *ngIf="card.collect" [card]="card"></tile-frame>

    <div *ngIf="card.collect" class="collect-box">
        <span *ngIf="(card.type == 0 || card.type == 4)">x{{card.collected}}</span>
        <span *ngIf="card.type == 1"> {{card.collected | number : '1.0-0'}}/{{card.collect | number : '1.0-0'}}</span>
    </div>

    <!-- <div [@animState]="animState" style="position: absolute;" [style.margin]="getMargin()"> -->
    <div style="position: absolute;" [style.margin]="getMargin()">
        <!-- <img *ngIf="card.img" [src]="getImg()" alt="" [height]="getheight()"> -->
        <img *ngIf="card.img" [src]="getImg()" alt="" width="100">
    </div>
</div>