<div [@animState]="animState" *ngIf="card" class="container">


    <tile-frame *ngIf="card.collect" [card]="card"></tile-frame>


    <!--  <div *ngIf="card.collect && (card.type == 0 || card.type == 4)" class="hex">
        <div class="collect-box">x{{card.collected}}</div>
    </div>

    <div *ngIf="card.collect && (card.type == 1 )" class="hex" style="border:none;">
        <div class="collect-box">{{card.collected | number : '1.0-0'}}/{{card.collect | number : '1.0-0'}}</div>
    </div> -->

    <div style="position: absolute;" [style.padding.px]="onTerrain==4?5:0" [style.margin]="getMargin()">
        <img *ngIf="!card && onTerrain==4" src="assets/resources/Chest Closed.png" alt="">
        <img *ngIf="card.img" [src]="card.img" alt="" [height]="getheight()" [style.margin-top.px]="onTerrain==4?-10:0">
    </div>
</div>