<div class="container">
    <!-- <div class="box" [style.color]="state=='in'?'rgb(22, 7, 39)':'gold'" [style.background-color]="state=='in'?'gold':'rgb(74, 13, 142)'">{{amount | number}} -->
    <div class="box">x<span>{{amount | number}}</span>
        <!-- <span style="opacity:0.5"> / {{totalStorage | number}}</span>  -->
        <!-- <button *ngIf="type>=0" style="position:absolute;margin-left: 15px" (click)="onClick()">+</button> -->
    </div>
    <div [@animate]="state">
        <!-- <img [src]="icon" alt="" height="35"> -->
        <item-img [type]="icon" size="35"></item-img>
    </div>
    <!-- <button style="position:absolute;margin-left: -8px;margin-top: 20px;">+</button> -->
</div>