.container {
    display: inline-grid ;
    
}



/* .resource-title {
    display: flex;
    line-height: 30px;
    color: yellow;

}

.resource-value {
    color:white;
    margin:0;
    padding-left:5px;
} */



