<!-- 
<tile-buy-popup *ngIf="showStore && lastTileClicked.card && lastTileClicked.card.type==1" [items]="storeItems2" (buyItem)="buyItem($event)" [title]="tile.card.family.label+' lvl '+(tile.card.level+1)"></tile-buy-popup>
<tile-buy-popup *ngIf="showStore && !lastTileClicked.card" [items]="storeItems" (buyItem)="buyItem($event)" [title]="'city improvments'"></tile-buy-popup> -->

<div class="container" #mainBoard [@animationState]="state" (@animationState.done)="onAnimationDone()"
 [style.grid-template-columns]="getCols()"
 [style.grid-template-rows]="getRows()"
 
 >
    <app-tile *ngFor="let tile of tiles" [tile]="tile" [style.z-index]="getIndex(tile)" [style.margin]="getMargin(tile)"></app-tile>
</div>